<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action="/auth/sign-up" method="POST">
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" min="1" max="32" required>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" min="1" max="32" required>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" min="1" max="32" required>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" required>
        <button>Submit</button>
    </form>
  </body>
</html>
