<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/header.css">
<header class="pink-stripe-background dark-shadow">
  <img class="secondary-icon" src="/assets/postIcons/chiikawa-icon.png" />
  <div>
    <h1>Chiikawa Post</h1>
    <nav>
      <% if (locals.currentUser) {%>
        <a href="/log-out"><button class="primary-button">Log Out</button></a>
        <% if (!locals.currentUser.is_member) { %>
          <a href="/member"><button class="primary-button">Membership</button></a>
        <% } else if (!locals.currentUser.is_admin) { %>
          <a href="/admin"><button class="primary-button">Admin</button></a>
        <% } %> 
      <% } else { %>
        <a href="/sign-up"><button class="primary-button">Sign Up</button></a>
        <a href="/log-in"><button class="primary-button">Log In</button></a>
      <% } %>
    </nav>
  </div>
  <img class="secondary-icon" src="/assets/postIcons/hachiware-icon.png" />
</header>
