<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Form</title>
  </head>
  <body>
    <% if (!locals.currentUser || !locals.currentUser.is_member) { %>
     <h2>Only members can apply to be an Admin!</h2>
    <% } else { %>
      <form action="/admin" method="POST">
        <label for="adminCode">Admin code</label>
        <input type="password" name="adminCode" id="adminCode">
        <button>Submit</button>
      </form>
    <% } %>
    <a href="/">Return to homepage</a>
  </body>
</html>
