<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Admin Form</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <form action="/admin" method="POST" class="card">
      <%- include('./partials/card-header.ejs') %>
      <div class="card-content">
        <h1 class="card-title">Administrator</h1>
        <%- include('partials/error.ejs') %>
        <label for="code">Admin code</label>
        <input type="password" name="code" id="code" required>
        <button class="secondary-button">Submit</button>
      </div>
      <a href="/"><button type="button" class="primary-button">Return to homepage</button></a>
    </form>
  </body>
</html>
