<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Login</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <form action="/log-in" method="POST" class="card">
      <%- include('./partials/card-header.ejs') %>
      <div class="card-content">
        <h1 class="card-title">Log In</h1>
        <%- include('./partials/error.ejs') %>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" maxlength="32" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" maxlength="32" required>
      </div>
      <button class="secondary-button">Submit</button>
    </form>
  </body>
</html>
