<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Membership Form</title>
  </head>
  <body>
    <% if (locals.currentUser) { %>
      <% if (locals.currentUser.is_member) { %>
        <h2>You are already a member!</h2>
      <% } else { %>
        <%- include('./partials/error.ejs') %>
        <form action="/member" method="POST">
          <label for="code">Membership code</label>
          <input type="password" name="code" id="code" />
          <button>Submit</button>
        </form>
      <% } %>
    <% } %>
    <a href="/">Return to homepage</a>
  </body>
</html>
