<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Create Post</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <form action="/post" method="POST" class="card">
      <%- include('./partials/card-header.ejs') %>
      <div class="card-content">
        <% if (locals.currentUser) { %>
          <h1 class="card-title">Create post!</h1>
          <label for="title">Title</label>
          <input type="text" name="title" id="title">
          <label for="message">Message</label>
          <input type="text" name="message" id="message">
          <% if (locals.images) { %>
            <label for="imageId">Image</label>
            <select name="imageId" id="imageId" value="10">
              <% images.forEach((image) => { %>
                <option value=<%= image.id %>><%= image.image_name %></option>
              <% }); %>
            </select>
          <button class="secondary-button">Submit Post</button>
          <% } %>
        <% } else { %>
          <h2 class="card-title">Log in to create a post silly! How did you get here?</h2>
        <% } %>
      </div>
      <a href="/"><button type="button" class="return-button primary-button">Return to Homepage</button></a>
    </form>
  </body>
</html>
