<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/signUp.css">
    <script src="/scripts/signUpForm.js" defer></script>
    <script src="/scripts/index.js" defer></script>
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <form action="/sign-up" method="POST" class="card">
      <div class="card-header">
        <img class="card-icon icon-left" src="">
        <img class="card-main-icon" src='/assets/postImages/1-chiikawa.png'>
        <img class="card-icon icon-right" src="">
      </div>
      <div class="card-content">
        <h1 class="card-title">Sign up</h1>
        <%- include('partials/error.ejs') %>
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" minlength="1" maxlength="32" required>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" minlength="1" maxlength="32" required>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" minlength="1" maxlength="32" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" minlength="6" maxlength="32" required>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" minlength="6" maxlength="32" required>
      </div>
      <button class="secondary-button">Submit</button>
    </form>
  </body>
</html>
