<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/scripts/signUpForm.js" defer></script>
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <form action="/sign-up" method="POST" class="card standalone-card">
        <%- include('./partials/card-header.ejs') %>
        <div class="card-content">
          <h1 class="card-title">Sign up</h1>
          <%- include('partials/error.ejs') %>
          <label for="firstname">First Name</label>
          <input type="text" name="firstname" id="firstname" minlength="1" maxlength="32" required>
          <label for="lastname">Last Name</label>
          <input type="text" name="lastname" id="lastname" minlength="1" maxlength="32" required>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" minlength="1" maxlength="32" required>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" minlength="6" maxlength="32" required>
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" minlength="6" maxlength="32" required>
          <button class="secondary-button">Submit</button>
        </div>
        <a href="/"><button type="button" class="return-button primary-button">Return to Homepage</button></a>
      </form>
    </main>
  </body>
</html>
