html {
  --pink: #f9c5ce;
  --accent-pink: #f4859b;
  --white: hsl(350.4, 80.65%, 93.92%);
  --blue: #e5f3fd;
  --darker-blue: #d1e5f4;
  background: repeating-linear-gradient(
    to right,
    var(--darker-blue),
    var(--darker-blue) 15px,
    var(--blue) 15px,
    var(--blue) 30px
  );
  font-size: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7px 8px 7px;
  background-color: var(--accent-pink);
  border: 2px solid var(--blue);
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(67, 69, 81, 0.05),
    0 15px 40px rgba(71, 75, 86, 0.2);
}
