html {
  --white: hsl(350.4, 80.65%, 93.92%);
  --pale-pink: rgb(253, 247, 247);
  --pink: #f9c5ce;
  --accent-pink: #f4859b;
  --blue: #e5f3fd;
  --accent-blue: #d1e5f4;
  background: repeating-linear-gradient(
    to right,
    var(--accent-blue),
    var(--accent-blue) 15px,
    var(--blue) 15px,
    var(--blue) 30px
  );
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Card styling */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 0 7px 8px 7px;
  background-color: var(--accent-pink);
  border: 2px solid var(--blue);
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(112, 115, 134, 0.05),
    0 15px 40px rgba(109, 115, 131, 0.2);
}

.card-header {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 90px 1fr;
  width: 100%;
}

.card-main-icon {
  --size: 90px;
  height: var(--size);
  width: var(--size);
  margin-top: -24px;
  background-color: white;
  outline: 10px solid var(--accent-pink);
  border: 5px solid var(--white);
  border-radius: 50%;
}

.card-content {
  display: relative;
  width: 100%;
  margin-top: 6px;
  padding: 5px 8px;
  background-color: var(--pink);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card-title {
  text-align: center;
}

/* Header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 5px 0 15px 0;
  border-top: 3px solid var(--accent-pink);
  border-bottom: calc(5px - 1px) solid var(--accent-pink);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

footer,
header {
  outline: 2px solid var(--blue);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  background: repeating-linear-gradient(
    45deg,
    var(--white),
    var(--white) 15px,
    var(--pale-pink) 15px,
    var(--pale-pink) 30px
  );
}

h1,
h2 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header-icon,
.card-icon {
  --size: 50px;
  height: var(--size);
  width: var(--size);
  align-self: center;
  justify-self: center;
  margin-top: 10px;
}

/* Standalone card styles */
.standalone-card.card {
  margin: 54px 6px 0 6px;
  padding-bottom: 6px;
}

.standalone-card.card .errors {
  padding: 0;
  text-align: center;
  font-weight: bold;
  color: red;
}

.standalone-card.card .card-content {
  padding: 6px 16px 6px 16px;
}

.standalone-card h1 {
  margin-bottom: 12px;
}

.standalone-card.card label,
.standalone-card.card .return-button {
  display: block;
  margin-top: 6px;
  margin-bottom: 0;
}

.standalone-card.card a {
  width: 100%;
}

.standalone-card.card input,
.standalone-card.card textarea {
  width: 100%;
  border-radius: 5px;
  border-style: none;
}

.standalone-card.card textarea {
  min-height: 100px;
}

.standalone-card.card button {
  display: block;
  width: 100%;
  margin: 12px 0 6px 0;
}

/* Button styles */
button {
  padding: 5px 14px 3px 14px;
  border-radius: 8px;
  font-weight: bold;
}

.primary-button {
  background-color: var(--pink);
  border: 3px solid var(--accent-pink);
  transition: background-color 0.1s ease-in;
}

.primary-button:hover {
  background-color: var(--accent-pink);
}

.secondary-button {
  background-color: var(--blue);
  border: 2px solid var(--accent-blue);
  transition: background-color 0.1s ease-in;
}

.secondary-button:hover {
  background-color: var(--accent-blue);
}

/* Footer styles */
footer {
  margin-top: 24px;
  text-align: center;
  background-color: #f1f1f1;
  padding: 6px;

  border-top: calc(5px - 1px) solid var(--accent-pink);
  border-bottom: 3px solid var(--accent-pink);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.link-holder {
  display: flex;
  justify-content: center;
  gap: 24px;

  padding: 6px 0 3px 0;
}

.link-holder > a {
  --link-button-size: 32px;
  width: var(--link-button-size);
  height: var(--link-button-size);
  padding: 0;
  background-size: cover;
}

a.icon-github {
  background-image: url(/assets/icons/icons8-github-60.png);
}

a.icon-linkedin {
  background-image: url(/assets/icons/icons8-linkedin-60.png);
}

a.icon-instagram {
  background-image: url(/assets/icons/icons8-instagram-60.png);
}
