html {
  --pink: #f9c5ce;
  --accent-pink: #f4859b;
  --white: hsl(350.4, 80.65%, 93.92%);
  --blue: #e5f3fd;
  --accent-blue: #d1e5f4;
  background: repeating-linear-gradient(
    to right,
    var(--accent-blue),
    var(--accent-blue) 15px,
    var(--blue) 15px,
    var(--blue) 30px
  );
  font-size: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7px 8px 7px;
  background-color: var(--accent-pink);
  border: 2px solid var(--blue);
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(112, 115, 134, 0.05),
    0 15px 40px rgba(109, 115, 131, 0.2);
}

/* Header styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 5px 0 15px 0;
  background-color: var(--white);
  border-top: 3px solid var(--accent-pink);
  border-bottom: 3px solid var(--accent-pink);
  outline: 2px solid var(--blue);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

h1,
h2 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header-icon,
.post-icon {
  --size: 50px;
  height: var(--size);
  width: var(--size);
  align-self: center;
  justify-self: center;
  margin-top: 10px;
}

/* Button styles */
button {
  padding: 3px 12px;
  border-radius: 8px;
  font-weight: bold;
}

.primary-button {
  background-color: var(--pink);
  border: 3px solid var(--accent-pink);
  transition: background-color 0.1s ease-in;
}

.primary-button:hover {
  background-color: var(--accent-pink);
}

.secondary-button {
  background-color: var(--blue);
  border: 2px solid var(--accent-blue);
  transition: background-color 0.1s ease-in;
}

.secondary-button:hover {
  background-color: var(--accent-blue);
}
