h2 {
  margin: 16px 0 12px 0;
}

.new-post-button {
  display: block;
  min-width: 230px;
  margin: 12px auto 12px auto;
  padding: 7px 36px 5px 36px;
}

/* Posts */
.post-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  padding: 36px 6px;
}

h4 {
  margin-top: 8px;
}

h4,
h5 {
  font-weight: normal;
  color: rgb(48, 47, 47);
  font-size: 0.9rem;
}

.delete-btn {
  display: block;
  margin-left: auto;
  margin-right: 3px;
  margin-bottom: 2px;
}

@media (min-width: 800px) {
  .post-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
  }

  .new-post-button {
    width: 500px;
    padding: 8px 36px 6px 36px;
  }
}