fieldset {
  --border-color: var(--white);
  --border-thickness: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  padding: 0;
  border: none;
  border-top: var(--border-thickness) solid var(--border-color);
  border-left: var(--border-thickness) solid var(--border-color);
}

.image-square {
  position: relative;
  padding: 5px;
  border-bottom: var(--border-thickness) solid var(--border-color);
  border-right: var(--border-thickness) solid var(--border-color);
}

.image-square input {
  display: none;
}

fieldset div.image-square > label {
  margin-top: 0;
  text-align: center;
}

.legend-anchor {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 25px;
}

.selected-icon {
  position: absolute;
  height: 35px;
  width: 35px;
}

legend .selected-icon {
  top: 0px;
  left: 2px;
}

fieldset .selected-icon {
  top: 5px;
  right: 5px;
}