fieldset {
  --border-color: var(--white);
  --border-thickness: 3px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  padding: 0;
  border: none;
  border-top: var(--border-thickness) solid var(--border-color);
  border-left: var(--border-thickness) solid var(--border-color);
}

.image-square {
  padding: 5px;
  border-bottom: var(--border-thickness) solid var(--border-color);
  border-right: var(--border-thickness) solid var(--border-color);
}

.image-square input {
  display: none;
}

fieldset div.image-square > label {
  margin-top: 0;
  text-align: center;
}
